.placeholder {
  background-color: #ebebef;
  color: #bbb;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
}

.login-container {
  padding: 25px;
  .am-input-item { 
    padding-left: 0;
    background-color: transparent;
    color: #fff;
    // border-bottom: 1px solid #eee;
    .am-input-label {
    }
  }
  p {
    color: #fff;
    text-align: center;
  }
}