.footer-container {
  // height: 100%;
  display: flex;
  align-items: center;
  // justify-content: space-around;
  background-color: #ccc;
  padding: 5px;
  // justify-content: center;
  text-align: center;
  >div {
    flex: 1;
  }
  a {
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    display: block;
  }
  ::ng-deep .route-icon {
    width: 2em;
    height: 2em;
    // color 不生效
    fill: #fff;
  }
  ::ng-deep .active .route-icon, .active a {
    fill: #05C160;
    color: #05C160;
  }
}